@media (max-width: 640px) {
  .container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 641px) {
  .container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}

body {
  background-color: #fafafa;
  font-family: "Oxygen", 'Arial', sans-serif;
  font-size: 1em;
  max-width: 600px;
  margin: auto;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

.title {
  font-size: 3em;
  text-align: center;
  margin-top: 40px;
  padding: 10px 0px;
  border: 1px solid #c1cdcd;
  border-radius: 10px;
  background-color: #c1cdcd;
}

.type {
  text-align: center;
}

.type2 {
  padding-left: 30px;
}

a, a:visited {
  text-decoration: none;
  color: #375EAB;
}

ul {
  /* to avoid bullets */
  /* Chrome numbers of ol inside text */
  list-style-position: inside;
  list-style-type: none;
}

li:hover {
  transform: scale(1.3);
}

hr {
  margin: 30px 0px;
  color: #ededed;
  margin-left: 5%;
  margin-right: 5%;
}

#footer a {
  color: #0099CC;
  text-decoration: none;
}

#footer {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}