<!DOCTYPE html>
<html>

<head>

  <title>Pintelest Clone</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Freecodecamp proyecto backend de servidor para crear una aplicacion full stack que sea un clon de pinterest "
  />

  <!-- Maven Pro -->
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:500,900" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi"
    crossorigin="anonymous">

  <!-- Masonry -->
  <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js">
  </script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="pintelest.css">

  <!-- Head -->
  <!--#include file="/freecodecamp/plantillas/head.html" -->

</head>

<body>
