@media only screen and (max-width: 640px) {
  .books {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 640px) {
  .books {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media only screen and (min-width: 800px) {
  .books {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }
}

body {
  background-color: #fafafa;
  font-family: "Indie Flower", 'Arial', sans-serif;
  font-size: 1em;
  margin: 0 auto;
  max-width: 960px;
}


/*
---------- NAVBAR ----------
*/

#nav-bar {
  position: fixed;
  width: 100%;
  max-width: 960px;
  font-size: 1.2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 50px;
  z-index: 1;
  background-color: #ededed;
}

#nav-bar span {
  font-weight: 700;
}

.leftNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-self: center;
}

.navLogo {
  margin: 0px 15px;
  height: 40px;
}

.navTitle {
  margin-top: 7px;
}

.rightNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-self: center;
}

.navLink .imageLink {
  height: 32px;
}

.navlink {
  padding: 0px 15px 0px 15px;
  color: #375EAB;
  text-decoration: none;
  text-align: center;
}

.navlink span:hover {
  display: inline-block;
  color: white;
}


/*
--------- INFO FOR GUEST ----------
*/

#info {
  font-size: 1.5em;
  text-align: center;
  padding-top: 60px;
  background-color: #4393B9;
  background-color: #fafafa;
}

#guest {
  padding-top: 100px;
  text-align: center;
}


/* 
--------- LOGIN ----------
*/

#login, #profile, #mybooks {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.formLogin {
  display: flex;
  flex-flow: column wrap;
  font-size: 1.3em;
  width: 400px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.formLogin label {
  padding-right: 25px;
}

.usernameBox, .passwordBox, .submitBoxLogin, .fullnameBox, .cityBox, .stateBox {
  align-self: center;
  padding: 20px 0px;
}

.submitBoxLogin input {
  font-size: 1em;
}


/*
---------- LOGGED ----------
*/

.books {
  -moz-column-gap: 0.5em;
  -webkit-column-gap: 0.5em;
  column-gap: 0.5em;
}

#books {
  padding-top: 60px;
}

.books {
  -moz-column-gap: 0.5em;
  -webkit-column-gap: 0.5em;
  column-gap: 0.5em;
}

.book {
  background-color: #fafafa;
  display: inline-block;
  margin: 0.5em 0;
  width: 100%;
}

.bookTile {
  text-align: center;
  max-width: 180px;
  height: adjust;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.title {
  padding: 5px 0px;
}

span.titleSpan {
  font-weight: bold;
  font-family: "arial", sans-serif;
  font-size: 1em;
  color: #375EAB;
  padding: 10px 10px;
}

.bookImg {
  /* max-width: 100%;*/
  max-width: 160px;
  height: auto;
  padding: 5px 0px 10px 0px;
  ;
}

.bookHref {
  text-decoration: none;
}

a.bookHref span:hover {
  display: inline-block;
  color: seagreen;
  transform: scale(1.2)
}


/*
--------- ADD BOOK ----------
*/

#addBook {
  padding-top: 80px;
  padding-bottom: 0px !important;
}

.formAddBox {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.formAddBox label {
  padding: 5px 10px;
}

.addBookSubmitBox {
  padding: 0px 20px;
}

.myRequestsLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: #fafafa;
  border: 1px solid #FF8800;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: #FF8800;
  /*background-color: #0084b4;*/
}

.forMe {
  padding-top: 15px;
}

.forMeRequestsLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: #fafafa;
  border: 1px solid #d9534f;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: #d9534f;
}


/* 
--------- GENERIC ----------
*/

hr {
  color: #ededed;
  margin-left: 5%;
  margin-right: 5%;
}

#footer a {
  color: #375EAB;
  font-size: 1.2em;
  text-decoration: none;
}

#footer {
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  /*margin-top: 20px;
  margin-bottom: 20px;*/
}