<% include ../partials/head %>

<% include ../partials/navbar %>

<div class="content">
  <h2>ADD PIC</h2>
</div>

<% include ../partials/passVars %>

<script src="pintelest.js"></script>

<% include ../partials/end %>