<% include ../partials/head %>

<% include ../partials/navbar %>

<div class="content text-xs-center">
  <h2>ALL PICS</h2>
</div>

<% include ../partials/allPics %>

<% include ../partials/passVars %>

<script src="pintelest.js"></script>

<% include ../partials/end %>
