<% include ../partials/head %>

<% include ../partials/navbar %>

<div class="content text-xs-center">
  <h2><%= pics[0].username %> PICS</h2>
</div>

<% include ../partials/allPics %>

<% include ../partials/passVars %>

<script src="./../pintelest.js"></script>
