body {
  font-family: 'Maven Pro', 'arial', sans-serif;
  /*font-family: 'Press Start 2P', cursive;*/
  background-color: #fafafa;
  font-size: 1em;
  max-width: 960px;
  margin: auto;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}